$mainColor: #217BF4;

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

@mixin container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    max-width: 1500px;
    margin: auto;
}

@mixin buttons {
    padding: 15px 40px;
    font-size: 18px;
    background-color: $mainColor;
    border: none;
    border-radius: 10px;
    color: white
}

@mixin text {
    font-size: 42px;
    font-weight: 700;
    width: 456px;
    height: 96px;
}

@mixin text2 {
    font-size: 18px;
    font-weight: 400;
    color: rgba(101, 100, 100, 1);
    width: 456px;
    height: 84px;
    letter-spacing: 1px;

}

header {
    @include container();

    div {
        display: flex;
        gap: 50px;
        align-items: center;

        nav {
            display: flex;
            gap: 20px;
        }
    }

    input {
        padding: 10px;
        border: none;
        outline: none;
        border-bottom: 1px solid gray;
    }
}

.section1 {
    background: linear-gradient(to top, rgba(212, 231, 254, 1), rgba(255, 255, 255, 1));
    @include container();

    aside {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: start;

        h1 {
            font-size: 55px;
        }

        p {
            font-size: 22px;
            color: gray;
        }

        button {
            @include buttons();
            background-color: #E9F2FE;
            color: $mainColor;
        }

        div {
            button {
                @include buttons;
            }

            button:last-child {
                @include buttons;
                border: 1px solid $mainColor;
                color: $mainColor;
                background-color: white;
            }
        }
    }
}

.section2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 250px;
    max-width: 1440px;
    margin: auto;


    p:first-child {
        color: $mainColor;
        font-size: 18px;
    }

    .text2 {
        font-size: 18px;
        font-weight: 400;
        color: rgba(101, 100, 100, 1);
        width: 456px;
        height: 84px;
        letter-spacing: 1px;
    }

    .text {
        font-size: 42px;
        font-weight: 700;
        width: 456px;
        height: 96px;

    }

    ul {
        font-size: 24px;
        font-weight: 500;
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }

    .imgs {
        width: 550px;
        height: 550px;
        display: flex;
        align-items: center;
        gap: 30px;
    }

    .img2 {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }

}

.section3 {
    p {
        color: $mainColor;
        font-size: 18px;
        font-weight: 500;
        text-align: center;

    }

    h1 {
        font-size: 36px;
        font-weight: 700;
        text-align: center;
    }

    h3 {
        font-size: 16px;
        font-weight: 400;
        color: rgba(101, 100, 100, 1);
        text-align: center;
    }

    div {
        width: 504px;
        height: 72px;
        background-color: #f2f7fe;
        border-radius: 14px;
        margin: auto;
        display: flex;
        align-items: center;
        gap: 20px;

        .btn {
            width: 150px;
            height: 56px;
            border: none;
            background-color: #f2f7fe;
            outline: none;
            font-size: 16px;
            font-weight: 600;
            border-radius: 14px;

            &:hover {
                background-color: rgba(33, 123, 244, 1);
                color: white;
                box-shadow: 0px 7px 22px rgba(0, 72, 168, 0.34);
            }


        }

        .btn2 {
            width: 150px;
            height: 56px;
            border: none;
            background-color: #f2f7fe;
            outline: none;
            font-size: 16px;
            font-weight: 600;
            border-radius: 14px;

            &:hover {
                background-color: rgba(33, 123, 244, 1);
                color: white;
                box-shadow: 0px 7px 22px rgba(0, 72, 168, 0.34);
            }

        }

        .btn3 {
            width: 150px;
            height: 56px;
            border: none;
            background-color: rgba(33, 123, 244, 1);
            outline: none;
            color: white;
            font-size: 16px;
            font-weight: 600;
            border-radius: 14px;
            box-shadow: 0px 7px 22px rgba(0, 72, 168, 0.34);

        }
    }

    padding-bottom: 150px;
}

.section4 {
    max-width: 1440px;
    height: 576px;
    margin: auto;
    display: flex;
    gap: 40px;
    row-gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 150px;

    .card {
        width: 522px;
        height: 182px;
        border-radius: 14px;
        box-shadow: 14px 22px 52px rgba(127, 127, 127, 0.13);
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        gap: 20px;

        div:last-child {
            h2 {
                font-size: 24px;
                font-weight: 600;
            }

            h4 {
                font-size: 16px;
                font-weight: 400;
                width: 315px;
                height: 52px;
            }
        }
    }
}

.section5 {
    .card2 {
        width: 270px;
        height: 316px;
        box-shadow: 0px 34px 68px rgba(116, 115, 128, 0.1);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 10px;
        border-radius: 14px;

        h2 {
            font-size: 24px;
            font-weight: 600;
        }

        p:last-child {
            font-size: 16px;
            font-weight: 400;
            color: rgba(101, 100, 100, 1);
        }
    }

    .card3 {
        width: 270px;
        height: 316px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 10px;
        border: 2px solid rgba(243, 243, 243, 0.5);
        border-radius: 14px;

        h2 {
            font-size: 24px;
            font-weight: 600;
        }

        p:last-child {
            font-size: 16px;
            font-weight: 400;
            color: rgba(101, 100, 100, 1);
        }
    }

    display: flex;
    max-width: 1440px;
    margin: auto;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 423px;
}

.section6 {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1440px;
    margin: auto;


    p:first-child {
        color: $mainColor;
        font-size: 18px;
    }

    .text2 {
        font-size: 18px;
        font-weight: 400;
        color: rgba(101, 100, 100, 1);
        width: 456px;
        height: 84px;
        letter-spacing: 1px;
    }

    .text {
        font-size: 42px;
        font-weight: 700;
        width: 456px;
        height: 96px;

    }

    img {
        width: 740px;
        height: 534px;
    }

    background-color: rgba(229, 240, 253, 1);
}

.section7 {
    display: flex;
    justify-content: center;
    position: relative;
    gap: 70px;
    max-width: 1440px;
    margin: auto;
    height: 450px;
    padding-bottom: 150px;

    .card4 {
        width: 340px;
        height: 459px;

        p {
            font-size: 20px;
            font-weight: 600;
        }

        p:last-child {
            font-size: 16px;
            font-weight: 400;
            color: rgba(101, 100, 100, 1);
        }

        div {
            img {
                border-radius: 14px;
            }
        }

    }

    .dec {
        position: absolute;
        top: -50px;
        left: 78px;
    }

    .dec2 {
        position: absolute;
        top: 150px;
        left: 1257px;
    }
}

footer {
    max-width: 1540px;
    margin: auto;
    height: 485px;
    background-color: rgba(43, 43, 57, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

    .links {
        display: flex;
        gap: 30px;
        color: white;

        h2 {
            font-size: 40px;
            font-weight: 500;
        }
        p {
            font-size: 20px;
        }
    }

    .addres {
        display: flex;
        flex-direction: column;
        row-gap: 30px;
        h2 {
            font-size: 40px;
            font-weight: 500;
            color: white;
        }

        p {
            color: white;
            width: 299px;
        }

        input {
            width: 339px;
            height: 48px;
            border: 1px solid rgba(255, 255, 255, 0.85);
            font-size: 14px;
            padding-left: 10px;
            background-color: rgba(43, 43, 57, 1);
            border-radius: 12px;
            color: white;

        }
    }

}
.footer2 {
    background-color: rgba(32, 32, 45, 1);  
    max-width: 1540px;
    margin: auto;
    height: 34px;
}